$neutral-text-primary: #F1f1f1;
$neutral-text-secondary: #8A8D8F;
$neutral-text-disable: #bdc0c6;
$neutral-text-active: #232323;
$neutral-text-cross-white-secondary: #FFFFFF;
$neutral-text-cross-black-secondary: #232323;
$neutral-bg-primary: #003366;
$neutral-bg-secondary: #4D5360;
$neutral-bg-tertiary: #5C5C6D;
$neutral-bg-disable: #bdc0c6;
$neutral-bg-active: #1a1a1a;
$neutral-hover-bg-primary: #001f33;
$neutral-hover-bg-secondary: #26303C;
$neutral-hover-bg-tertiary: #333344;
$neutral-hover-bg-disable: #a6a9ad;
$neutral-hover-bg-active: #2a2a2a;
$neutral-bg-cross-white-secondary: #FFFFFF;
$neutral-bg-cross-gray: #777777;
$neutral-border-secondary: #556677;
$neutral-border-cross-black-primary: #1a1a1a;
$neutral-border-cross-white-secondary: #FFFFFF;

$main-bg-active: #007ACC;
$main-border: #5E88B0;
$main-brand: #007ACC;
$main-hover-bg-primary: #0065A6;
$main-hover-bg-active: #0059A4;

$complementary-bg-primary: #3d9970;
$complementary-hover-bg-primary: #44aa7b;
$complementary-border: #2e7d5e;
$complementary-brand: #2e7d5e;

$success-hover-primary: #4caf50;
$success-border: #388e3c;

$warning-bg-primary: #ff9800;
$warning-hover-bg-primary: #ffa726;
$warning-border: #f57c00;

$error-bg-primary: #e57373;
$error-hover-bg-primary: #ef5350;
$error-border: #d32f2f;

$informative-bg-primary: #2196f3;
$informative-hover-bg-primary: #42a5f5;
$informative-border: #1e88e5;
